:root {
  --banner-text-font-family: "Inder", Helvetica;
  --banner-text-font-weight: 400;
  --banner-text-font-size: 20px;
  --banner-text-letter-spacing: 0px;
  --banner-text-line-height: normal;
  --banner-text-font-style: normal;
  --category-text-font-family: "Calibri", Helvetica;
  --category-text-font-weight: 400;
  --category-text-font-size: 24px;
  --category-text-letter-spacing: 0px;
  --category-text-line-height: normal;
  --category-text-font-style: normal;
}
